html,
body {
  background-color: #1B2A32;
  color: #fff;
  height: 100%;
  font-family: $text;
  font-size: 1rem;
}

::-moz-selection {
  color: white;
  background: #324f61;
}

::selection {
  color: white;
  background: #324f61;
}